.card_secundary_container {
    display: flex;
    background: #3e9faa;
    float: right;
    margin-top: -23em;
    width: 12em;
    height: 90vh;
    border-radius: 20px;
    text-align: center;
    justify-self: center;
    align-self: center;
    
}